table, td, th   {
    border: 1px solid black;
}

td,th {
    padding: 5px;
    border-radius: 0px;
    text-align: center;
}
table{
    background-color: azure;
    border-spacing: 0px;
    
}

div{
    background-color: blueviolet;
    width: 210px;
    height: 110px;
    padding: 20px;
}

#Luisa {
    background-color: red;
}

.Jireh{
    color: yellow;
    background-color: black;
}